body
{
	line-height: 1.6em;
}
html, body {
margin : 10;
background: #eaeaea;
}
body {
font : 73% "Trebuchet MS", Arial,  Helvetica, Tahoma, sans-serif;
background : #fff/*#fff*/;
color : #555;
}
			/*WRAP*/
#wrap {
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 0;
color : #555;
background: #fff url(images/wrap_bg.jpg) repeat-x;
}
			/*TOP BANNER*/
#masthead {
height:110px;
padding: 0;
margin-bottom: 0;
}

div.centrage {text-align: right;}

#logo{
height:80px;
background: transparent url(images/logo.jpg) no-repeat;
margin-left: auto;
margin-right: auto;
display: block;
margin: 0 auto;
	}
			/*MAIN CONTAINER*/
#container {
width: 770px;
border: 0px solid #aaa;
margin-left: auto;
margin-right: auto;
margin-top:30px;
padding: 0;
line-height: 1.8em;
}
			/*TOP NAVIGATION*/
#menucontainer{position:relative;height:56px;color:#E0E0E0;background:#143D55;
width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}

#menunav{position:relative;height:33px;font-size:12px;text-transform:uppercase;
font-weight:bold;background:#fff url(images/menu_bg.gif) repeat-x bottom left;
padding:0 0 0 20px;}

#menunav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}

#menunav ul li{display:block;float:left;padding:0 1px;}

#menunav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;
padding:0 0 0 20px;height:33px;}

#menunav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}

#menunav ul li a:hover{color:#fff;
background:transparent url(images/menu_bg-OVER.gif) repeat-x bottom left;}

#menunav ul li a:hover span{display:block;width:auto;cursor:pointer;}

#menunav ul li a.current,#menunav ul li a.current:hover{color:#fff;
background:#1D6893 url(images/menu_left-ON.gif) no-repeat top left;line-height:275%;}

#menunav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;
background:#1D6893 url(images/menu_right-ON.gif) no-repeat top right;height:33px;}
			/*MAIN CONTENT*/
#content {
padding: 0 1em 0 1em;
margin: 0 320px 0 0;
border-right: 1px solid #eee;
}
			/*SIDEBAR*/
#sidebar {
float: right;
width: 280px;
margin-top: 0;
padding: 0 1em 0 1em;
}
			/*FOOTER*/
#footer {
clear: both;
height: 50px;
padding: 0;
margin-bottom: 0;
margin-top: 20px;
text-align: center;
border-top: 10px solid #143D55;
color: #333;
background: #4592BE;
}
			/*TYPOGRAPHY*/
h1 {
margin: 0;
padding: 20px 0 20px 25px;
font-size: 175%;
letter-spacing: 5px;
color: #143D55;
}
h2 {
margin: 0;
padding: 20px 0 20px 0;
font-size: 160%;
letter-spacing: 3px;
color: green;
}
blockquote {
padding: 15px;
font-weight : bold;
font-style : italic;
border-bottom: 1px solid #aaa;
border-top: 1px solid #aaa;
color : #b29b35;
}
			/*LINKS*/
a:link, a:visited {
color : #e40045;
background : inherit;
text-decoration : none;
/* text-decoration : underline; */
}
a:hover {
color : #143D55;
background : inherit;
text-decoration : none;
}
			/*IMAGES*/
.right {
float: right;
border: 0px solid #656C4A;
margin: 5px 0 10px 0;
padding: 10px;
}
			/*SEARCH BAR*/
legend {
color: green;
}
input {
background: #eee;
}	






.table-separateur {
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  background-color : #d6d3ce;
}

/* Style du titre du tableau */
.table-titre {
   font-size : 12px;
   font-family : Verdana, arial, helvetica, sans-serif;
  color : #eeeeee;
  text-align : center;
  font-weight : bold;
  background-color : #666666;
}

/* Style des en-t�tes du tableau */
.table-entete {
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  background-color : #a7ada7;
}

/* Style des en-t�tes du tableau (centr�) */
.table-entete-centre {
  font-size : 12px;
   font-family : Verdana, arial, helvetica, sans-serif;
   color : #333333;
   text-align : center;
  background-color : #a7ada7;
}

/* Style des en-t�tes du tableau (droite) */
.table-entete-droit {
  font-size : 12px;
   font-family : Verdana, arial, helvetica, sans-serif;
   color : #333333;
  text-align : right;
  background-color : #a7ada7;
}

/* Style 1 des cellules */
.table-ligne1 {
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  background-color : #c6c3bd;
}

/* Style 2 des cellules */
.table-ligne2 {
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  background-color : #cccccc;
}

/* Style 1 des cellules (centr�) */
.table-ligne1-centre {
  font-size : 12px;
   font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  text-align : center;
  background-color : #c6c3bd;
}

/* Style 2 des cellules (centr�) */
.table-ligne2-centre {
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  text-align : center;
  background-color : #cccccc;
}

/* Style 1 des cellules (droite) */
.table-ligne1-droit {
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  text-align : right;
  background-color : #c6c3bd;
}

/* Style 2 des cellules (droite) */
.table-ligne2-droit {
  font-size : 12px;
  font-family : Verdana, arial, helvetica, sans-serif;
  color : #333333;
  text-align : right;
  background-color : #cccccc;
}

input.btSubmit {
  font-size: 90%;
  color: #FFF;
  background: #B6DB10;
  padding: 3px 20px 5px 20px;
  margin: 0;
  border:  1px solid #FFF;
}
input.btSubmit:hover {color: #B6DB10; background: #FFF;}



#newspaper-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
}
#newspaper-b th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
}
#newspaper-b tbody
{
	background: #e8edff;
}
#newspaper-b td
{
	padding: 10px;
	color: #669;
	border-top: 1px dashed #fff;
}
#newspaper-b tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}


.CSS_Table_Example {
	margin:10px;padding:10px;
	/* width:100%; */
	
	
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table{
	/* width:100%;
	height:100%; */
	margin:0px;padding:0px;
}.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSS_Table_Example tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSS_Table_Example tr:hover td{
	background-color:#82c0ff;
	background:-o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #82c0ff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#82c0ff,56aaff);
}.CSS_Table_Example tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffff;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
}.CSS_Table_Example tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.CSS_Table_Example td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");	background: -o-linear-gradient(top,#56aaff,82c0ff);
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSS_Table_Example tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

#table-menu{
	width:900px;
	text-align: center;
	/* padding: 20px 20px 30px 20px; */
	/* background: #eaeaea; */

}
.padding20{
	padding: 20px 20px 30px 20px;
}

.margin20{
	margin: 20px 20px 20px 20px;
}
#table-menu td{
	width: 140px;
}

#table-menu1{
/*	width:900px;*/
	width:100%;
	text-align: center;
	padding: 0px 39px 0;
	

}
#table-menu1 td{
	width: 120px;
}
#header h1 { 
	color: #EAEAEA;
    	display: inline;
	font-size: 18px;
}

#header a.go_back {

	float: right;
	color: #ffffff;
	display: inline-block;
	padding-top: 8px;
	font-size: 12px;
}

#header a.go_back:hover { text-decoration: none; }

.wrapper {
	padding: 10px 40px 30px 40px;
	background: #eaeaea;
}

.wrapper11 {
	padding: 10px 40px 30px 40px;
	height:300px;
	
}

.wrapper1left {
	padding: 10px 40px 30px 40px;
	background: #eaeaea;
	float:left;
}
.wrapper1right {
	padding: 10px 40px 30px 40px;
	background: #eaeaea;
	float:right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.middle-wrapper {
	margin-left: 0;;
	margin-right:auto;
	width:100%;
	background-color:#b0e0e6;
	float:left;
}
.right-wrapper {
	margin-left:auto;
	margin-right:auto;
	width:25%;
	background-color:green;
   	float: right;
}
.main-wrapper {
	background: #eaeaea;
	margin-left: -40px;
	margin-right: -40px;
}

.wrapper.dark {
	background: #222222;
}

.wrapper h2 {
	font-size: 22px;
	color: #333333;
	font-weight: 400;
	position: relative;
	margin-left: -20px;
}

.wrapper.dark h2 {
	color: #eaeaea;
}

.button {

	/* style du texte */
	font-size: 26px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); /* ombre décalée de 0px à droite, 1px en haut, un flou de 0px, de couleur noir et d'opacité 50% */

	/* fond dégradé pour le bouton */
	background: -moz-linear-gradient(top, #b50000, #6d0000); /* Firefox */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#b50000), to(#6d0000)); /* Safari et Chrome*/
	margin:20px;
	/* style général du bouton */
	display: inline-block;
	padding: 8px 10px 8px;
	-moz-border-radius: 4px; /* coins arrondi pour Firefox */
	-webkit-border-radius: 4px; /* coins arrondi pour Safari et Chrome */
	border-radius: 4px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	margin: 2px;
	width: 120px;
}

.button.medium { font-size: 12px; }

.button.small { font-size: 10px; }

.button.big { font-size: 30px; }


.button.blue {
	background: -moz-linear-gradient(top, #6d93c0, #3d5b78); /* Firefox */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#6d93c0), to(#3d5b78)); /* Safari et Chrome*/
}

.button:hover {
	background: -moz-linear-gradient(top, #333333, #000000); /* Firefox */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#000000)); /* Safari et Chrome*/

}

.button.arrondi {
	-moz-border-radius: 20px; /* coins arrondi pour Firefox */
	-webkit-border-radius: 20px; /* coins arrondi pour Safari et Chrome */
	border-radius: 20px;
}
