.search_form td {
	padding: 5px 10px 3px;
}
.search_form .text {
	display: block;
	border: 1px solid #4F8B9D;
	padding: 2px;
}
.search_form .select_field {
	padding: 2px;
	display: block;
	border: 1px solid #4F8B9D;
	width: 190px;
}
.search_form .smalltextarea {
	width: 45px;
}
.search_form .smalltext {
	width: 50px;
}
.search_form .mediumtext {
	width: 90px;
}
.search_form .longfield {
	width: 304px;
}

.search_form .textBoxfield {
	width: 150px;
	height: 75px;
}

.search_form .textBoxfieldlong {
	width: 280px;
	height: 70px;
}

#tabs.text {
	border: 1px solid #666666!important;
	margin-bottom: 5px!important;
	display: block;
}

.search_form td.tdsmall {
	padding: 5px 3px 3px;
	width: 140px;
	ALIGN="left"
}

.edit_form td {
	padding: 5px 3px 3px;
}
.edit_form .text {
	display: block;
	border: 1px solid #4F8B9D;
	padding: 2px;
}
.edit_form .select_field {
	padding: 2px;
	display: block;
	border: 1px solid #4F8B9D;
}
.edit_form .smalltextarea {
	width: 45px;
}
.edit_form .mediumtext {
	width: 90px;
}
.edit_form .longfield {
	width: 394px;
}


.edit_form .textBoxfield {
	width: 220px;
	height: 95px;
}

#tabs.text {
	border: 1px solid #666666!important;
	margin-bottom: 5px!important;
	display: block;
}

.edit_form td.tdsmall {
	padding: 5px 3px 3px;
	width: 140px;
	ALIGN="left"
}

edit_form_user {
 background:#E3F6FC  bottom no-repeat;
 }

edit_form_user td {
	padding: 5px 3px 3px;
	height: 35px;
}
.edit_form_user .text {
	display: block;
	border: 1px solid #4F8B9D;
	padding: 2px;
	margin: 5px 2px;
}
.search_form .smalltext {
	width: 45px;
}
.edit_form_user .select_field {
	padding: 2px;
	display: block;
	border: 1px solid #4F8B9D;
}
.edit_form_user .smalltextarea {
	width: 45px;
}
.edit_form_user .mediumtext {
	width: 90px;
}
.edit_form_user .longfield {
	width: 394px;
}


.edit_form_user .textBoxfield {
	width: 200px;
	height: 95px;
}

#tabs.text {
	border: 1px solid #666666!important;
	margin-bottom: 5px!important;
	display: block;
}
 
.edit_form_user td.tdsmall {
	padding: 5px 3px 3px;
	width: 140px;
	ALIGN="left"
}

.error{
	display: block;
	border: 1px solid red;
	padding: 2px;
}
.error_code{
	color: red;
	font-size: 10pt;
}

