* {
	padding: 0;
	margin: 0;
}

/* fieldset { 
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 10px 10px 10px 10px;
	border-color: #fff #666661 #666661 #fff;
	margin-bottom: 20px;

}
 */
fieldset.action {
	border-color: #e5e5e5 #797c80 #797c80 #e5e5e5;
	margin-top: -20px;
}

fieldset.action dt {
	float: right;
	font-weight: bold;
	text-align: right;
	width: 105px;
	line-height: 15px;
	margin: 0 10px 0 0;
}

fieldset.action dd {
	float: right;
	width: 225px;
	line-height: 15px;
	margin: 0 0 0 0;
}

dl {
	clear: both;
}

dt {
	float: left;
	font-weight: bold;
	text-align: left;
	width: 130px;
	line-height: 25px;
	margin: 0 10px 10px 0;
}

.dtlong {
	float: left;
	font-weight: bold;
	text-align: left;
	width: 305px;
	line-height: 25px;
	margin: 0 10px 10px 0;
}

dd {
	float: left;
	width: 190px;
	line-height: 25px;
	margin: 0 0 10px 0;
}

/*Checkbox*/
.NFCheck {
	cursor: pointer;
	position: absolute;
	width: 12px;
	height: 12px;
	border: 1px solid transparent;
	background: url(img/checkbox.png) no-repeat 0 0;
	z-index: 2;
}

/* legend { 
	background: url("../graphics/searchbg.jpg") repeat scroll 0 0
		transparent;
	font: 17px/21px Calibri, Arial, Helvetica, sans-serif;
	padding: 0 10px;
	margin: 0px;
	font-weight: bold;
	border: 1px solid #fff;
	border-color: #e5e5c3 #505014 #505014 #e5e5c3;
	border-radius: 7px;
} */

ul {
	list-style: none;
}

.clear {
	clear: both;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	height: 0px;
}

#loginform p {
	line-height: 14px;
}

body {
	background: #fff;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
}

#wrap {
	width: 1030px;
	margin: auto;
}

#topbar {
	background: url(../graphics/topbar.jpg) no-repeat;
	height: 37px;
}

#header {
	background: url(../graphics/headerbg.jpg) repeat-x;
	height: 128px;
	margin: 0 2px 0 2px;
}

#content {
	padding: 0 2px 0 2px;
	background: none repeat scroll 0 0 #F4F5F6;
}

#home_main {
	width: 750px;
	float: left;
	margin-bottom: 8px;
}

#main_bien,#main {
	width: 700px;
	float: left;
	margin-bottom: 8px;
}

#home_main_edit,#main_edit,#main_edit_bien {
	width: 700px;
	float: left;
	margin-bottom: 8px;
}

#home_main_edit_user,#main_edit_user,#main_edit_user_bien {
	width: 775px;
	float: left;
	margin-bottom: 8px;
}

#home_sidebar,#sidebar {
	width: 325px;
	float: right;
	margin-bottom: 8px;
}

h1#logo {
	font: bold 48px Tahoma, Geneva, sans-serif;
	color: #368291;
}

#content #sidebar {
	background: url(../graphics/hotbg.jpg) repeat;
}

#search {
	background: url(../graphics/searchbg.jpg);
}

#edit {
	background: url(../graphics/searchbg.jpg);
}

#edit_user {
	background: url(../graphics/searchbg.jpg);
	padding-bottom: 5px;
}

#search_bien {
	/* background: none repeat scroll 0 0 #D1E0FA; */
	width: 700px;
}

.hot {
	background: url(../graphics/hotbg.jpg);
}

#topcategorieslink {
	background: url(../graphics/categoriesbg.jpg);
	height: 44px;
	margin-bottom: 8px;
}

#search .container {
	background: #E3F6FC bottom no-repeat;
	height: 240px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

#search .tab {
	height: 20px;
	padding: 5px 20px 0 10px;
}

#search .bottom {
	height: 20px;
	padding: 5px 20px 0 10px;
}

#search_bien .container {
	background: #E3F6FC bottom no-repeat;
	/* height: 240px; */
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

#search_bien .tab {
	height: 20px;
	padding: 5px 20px 0 10px;
}

#search_bien .bottom {
	height: 20px;
	padding: 5px 20px 0 10px;
}

#edit .container {
	background: #E3F6FC bottom no-repeat;
	height: 365px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

#edit_user .container {
	background: #E3F6FC bottom no-repeat;
	height: 800px;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}


#search_bien .container_home {
	background: #E3F6FC bottom no-repeat;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

#search_bien .tab {
	height: 25px;
	padding: 5px 20px 0 10px;
}

#home_main_edit_user .tab {
	height: 20px;
	/* padding: 5px 20px 0 10px; */
}

#search_bien .bottom {
	height: 20px;
	padding: 5px 20px 0 10px;
}

#edit_user .tab {
	height: 15px;
	padding: 5px 20px 0 10px;
}

#edit_user .bottom {
	height: 20px;
	padding: 5px 20px 0 10px;
}

#edit .tab {
	height: 30px;
	padding: 5px 20px 0 10px;
}

#edit .bottom {
	height: 20px;
	padding: 5px 20px 0 10px;
}

.tab h2 {
	font: bold 18px "Trebuchet MS", Verdana, Arial, sans-serif;
	text-transform: uppercase;
}

.tab ul {
	
}

.tab li {
	display: inline;
}

.tab a {
	display: block;
	background: url(../graphics/searchtab_normal.jpg) repeat-x;
	height: 20px;
	padding: 5px 10px 0 10px;
	margin: 0 2px 0 2px;
	float: left;
	font: bold 14px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #e2f6fc;
}

.tab a:visited,.tab a:active {
	text-decoration: none;
	color: #e2f6fc;
}

.tab .active a,.tab .active a:visited,.tab .active a:active,.tab a:hover
	{
	background: url(../graphics/searchtab_active.jpg) repeat-x;
	color: #000;
}

.sidebar_head {
	background: url(../graphics/hotheader.jpg);
	height: 29px;
	padding: 7px 8px 0;
	font: bold 15px "Trebuchet MS", Arial, sans-serif;
	color: #171717;
	text-transform: uppercase;
	display: block;
}

.sidebar_head .h2link {
	display: block;
	background: url(../graphics/hot_heading_button.jpg) no-repeat;
	width: 89px;
	height: 18px;
	padding: 4px 0 0 0;
	text-align: center;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif !important;
	float: right;
}

.h2link a {
	color: #e8e3cd;
	text-decoration: none;
}

.h2link a:visited,.h2link a:active {
	color: #e8e3cd;
	text-decoration: none;
}

.h2link a:hover {
	color: #f4f0df;
	text-decoration: none;
}

#sitename {
	float: left;
	width: 370px;
}

#shoutout {
	float: left;
	width: 160px;
}

#useractions {
	float: right;
	width: 380px;
	padding-left: 20px;
	background: url(../graphics/header_vertical_devider.jpg) repeat-y 10px
		0px;
	height: 117px;
}

#headings {
	background: url(../graphics/header_horizontal_devider.jpg) repeat-x left
		bottom;
	padding: 3px 0px 2px;
	margin-bottom: 2px;
}

#headings h2 {
	font: bold 14px "Trebuchet MS", Arial, sans-serif;
	text-transform: uppercase;
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
}

#headings a {
	color: #3F3F3F;
	text-decoration: none;
}

.formblock {
	width: 120px;
	float: left;
	padding: 0 5px 5px 0px;
	margin-right: 12px;
}

.formblockButton {
	width: 80px;
	float: right;
	padding: 0 5px 5px 0px;
	margin-right: 12px;
}

#sitename #logo {
	padding: 15px 0px 0px 15px;
}

.formblock .textfields {
	background: #FFFFFF;
	border: 1px solid #BADEEF;
	font-size: 12px;
	padding: 3px 5px 0px;
	height: 22px;
	width: 130px;
}

.formblock label {
	display: block;
	padding: 1px 3px;
}

.formblock #button {
	margin-top: 18px;
}

#topcategorieslink h2 {
	background: url(../graphics/topcategories_h2.jpg) no-repeat;
	height: 34px;
	width: 175px;
	padding-top: 12px;
	padding-left: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	float: left;
	font: bold 18px "Trebuchet MS", Arial, sans-serif;
}

h1 {
	background: url(../graphics/mainh2bg.jpg);
	font: bold 18px "Trebuchet MS", Arial, sans-serif;
	color: #000000;
	padding: 5px;
	margin-bottom: 5px;
}

.navig {
	background: none repeat scroll 0 0 #BBBBBB;
	font: bold 12px "Trebuchet MS", Arial, sans-serif;
	color: #000000;
	padding: 5px;
	margin-bottom: 5px;
	width: 690px;
}

.listing {
	
}

.listing li {
	display: block;
	padding: 10px;
	margin-bottom: 8px;
	background: #f8f8f8;
	border: 1px solid #eee;
}

.listing .listinfo {
	width: 460px;
	float: left;
}

.listinfo .listingimage {
	display: block;
	float: left;
	border: 5px solid #a5a192;
	margin-right: 15px;
}

.listingbtns {
	float: right;
	width: 135px;
}

.listingprices {
	float: right;
	width: 300px;
	padding-right: 5px;
}

.listinfo h3 {
	color: #006600;
	font: bold 14px "Trebuchet MS", Arial, sans-serif;
	margin-bottom: 10px;
}

.listingbtns {
	float: right;
	width: 135px;
}

.listingbtns .listbuttons {
	background: url(../graphics/listingbuttons.jpg) no-repeat;
	display: block;
	height: 18px;
	width: 121px;
	padding-top: 4px;
	text-align: center;
	margin-bottom: 5px;
}

.listingbtns .listbuttons a {
	color: #F3F0DF;
	text-decoration: none;
}

.listbuttons {
	background: url(../graphics/listingbuttons.jpg) no-repeat;
	display: block;
	height: 18px;
	width: 121px;
	padding-top: 4px;
	text-align: center;
	margin-bottom: 5px;
}

.listbuttons a {
	color: #F3F0DF;
	text-decoration: none;
}

.price {
	display: block;
	font-weight: bold;
	color: #0099CC;
	font-size: 20px;
	float: right;
	margin-bottom: 4px;
    margin-top: 16px;
}

.pricesmall {
	display: block;
	font-weight: bold;
	color: #0099CC;
	font-size: 12px;
	float: right;
}

.listingbtns .listbuttons a:visited,.listingbtns .listbuttons a:active,.listingbtns .listbuttons a:hover
	{
	color: #F3F0DF;
	text-decoration: none;
}

.block {
	padding: 5px;
}

a {
	color: #006600;
}

.normalmenu li {
	display: block;
	height: 32px;
	font: bold 15px "Trebuchet MS", Verdana, Arial, sans-serif;
	background: url(../graphics/sidebar_menu_div.jpg) repeat-x left bottom;
}

.normalmenu a {
	display: block;
	height: 25px;
	padding-top: 5px;
	background: url(../graphics/bulletarrow.jpg) no-repeat 5px 12px;
	padding-left: 35px;
	color: #958E82;
	text-decoration: none;
}

#topbar li {
	display: inline;
}

#topbar ul {
	display: block;
	padding-left: 530px;
	padding-top: 5px;
	padding-right: 10px;
}

#topbar a {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
}

#topbar a:visited,#topbar a:active {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
}

#topbar a:hover {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
	background: url(../graphics/activetopmenu.jpg) no-repeat center bottom;
}

#topbar .current a,#topbar .current a:visited,#topbar .current a:active
	{
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
	background: url(../graphics/activetopmenu.jpg) no-repeat center bottom;
}

.normalmenu a:visited,.normalmenu a:active {
	display: block;
	height: 25px;
	padding-top: 5px;
	background: url(../graphics/bulletarrow.jpg) no-repeat 5px 12px;
	padding-left: 35px;
	color: #958E82;
	text-decoration: none;
}

.normalmenu a:hover {
	display: block;
	height: 25px;
	padding-top: 5px;
	background: url(../graphics/bulletarrow.jpg) no-repeat 5px 12px;
	padding-left: 35px;
	color: #404040;
	text-decoration: none;
}

.hot .imageholder {
	display: block;
	height: 66px;
	width: 66px;
	border: 5px solid #C6BBAA;
	float: left;
}

#wrap #content #home_sidebar .hot h3 {
	margin-left: 86px;
	display: block;
	color: #009933;
}

.hot .description {
	display: block;
	margin-left: 86px;
	padding-top: 12px;
	padding-right: 8px;
}

.hot .description .price {
	padding-top: 5px;
}

h1 a,h2 a,h3 a {
	text-decoration: none;
}

h3 a:hover {
	color: #000000;
}

.hot li {
	display: block;
	padding-top: 3px;
	padding-bottom: 5px;
	background: url(../graphics/hotdiv.jpg) repeat-x center bottom;
	margin-right: 8px;
	margin-left: 8px;
}

#wrap #footer {
	background: url(../graphics/footer.jpg) no-repeat;
	height: 132px;
	margin-bottom: 50px;
}

#search .tab h2 {
	color: #33779B;
}

#edit .tab h2 {
	color: #33779B;
}

#topcategorieslink ul {
	display: block;
	float: left;
	padding-top: 11px;
	width: 725px;
}

#topcategorieslink ul.submenu {
	display: block;
	float: left;
	padding-top: 11px;
	width: 725px;
}

#topcategorieslink li {
	display: inline;
	font: bold 16px "Trebuchet MS", Verdana, Arial, sans-serif;
}

#topcategorieslink a {
	display: block;
	color: #4B7792;
	text-decoration: none;
	height: 23px;
	padding-top: 2px;
	padding-right: 11px;
	padding-left: 8px;
	border-right: 1px solid #9AB5BE;
	float: left;
}

#topcategorieslink a:hover {
	display: block;
	color: #000000;
	text-decoration: none;
	height: 23px;
	padding-top: 2px;
	padding-right: 11px;
	padding-left: 8px;
	border-right: 1px solid #9AB5BE;
	float: left;
}

#footer #upperfooter {
	padding-top: 25px;
	padding-left: 250px;
	padding-right: 200px;
	line-height: 22px;
	height: 70px;
}

#wrap #footer #lowerfooter {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	color: #E3F6FC;
}

.backtotop {
	display: block;
	float: right;
}

#lowerfooter .backtotop {
	color: #E3F4FB;
	text-decoration: none;
}

#lowerfooter a {
	color: #DFF6FC;
	text-decoration: none;
}

#topcategorieslink #searchagain {
	float: left;
	width: 715px;
	padding-top: 2px;
}

a img {
	border-style: none;
}

a.highlight {
	color: #CC0000 !important;
}

.smsalert {
	background: #3F3F3F;
	margin-bottom: 5px;
	color: #E8E3CD;
}

.block p {
	line-height: 16px;
	padding: 10px;
}

#paginations li {
	display: inline;
}

#wrap #content #main #paginations a {
	display: block;
	float: left;
	text-align: center;
	height: 20px;
	width: 25px;
	padding-top: 5px;
	margin-right: 5px;
	color: #000000;
	text-decoration: none;
	background: #A5A192;
}

#main #paginations {
	background: #404040;
	padding: 5px;
}

#wrap #content #main #paginations .current a {
	color: #FFFFFF;
	background: #000000;
}

#wrap #content #main #paginations a:hover {
	color: #FFFFFF;
	background: #000000;
}

#main #single_item_details {
	background: #f8f8f8;
}

#leftcolumn {
	float: left;
	width: 240px;
	padding: 5px;
}

#rightcolumn {
	float: right;
	padding: 5px;
	width: 340px;
}

#rightcolumn .leftpart {
	float: left;
	padding: 5px;
	width: 200px;
}

#rightcolumn .price {
	font: bold 14px "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #FF0000;
	padding-top: 8px;
	padding-bottom: 8px;
}

.previewimg {
	display: block;
	margin: auto auto 15px;
	background: #efefef;
	padding: 5px;
	border: 1px solid #ccc;
}

#single_item_details  h2 {
	color: #006600;
	font: 18px "Trebuchet MS", Verdana, Arial, sans-serif;
	display: block;
	margin-bottom: 15px;
}

#single_item_details .user {
	display: block;
	font: bolder 14px "Trebuchet MS", Verdana, Arial, sans-serif;
	margin-bottom: 6px;
}

#imagesgallerylisting {
	margin-right: 145px;
	padding: 5px;
}

#moredetails h3 {
	font: bold 14px "Trebuchet MS", Verdana, Arial, sans-serif;
	display: block;
	padding: 3px;
}

#moredetails li {
	padding: 3px;
	display: block;
}

#listing_details td {
	padding: 3px 10px;
	vertical-align: middle;
}

#listing_details tr {
	padding: 3px;
	height: 30px;
	vertical-align: top;
}

#moredetails {
	margin-top: 8px;
	background: #E3F0F4;
	padding: 5px;
}

#main_action {
	margin-top: 8px;
	/* background: #E3F0F4; */
	background: none repeat scroll 0 0 #F8F8F8;
	padding: 5px;
	float: right;
	width: 635px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#main_action_edit {
	margin-top: 8px;
	/* background: #E3F0F4; */
	background: none repeat scroll 0 0 #F8F8F8;
	padding: 5px;
	float: right;
	width: 735px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#listing_details {
	padding: 5px;
}

#midraw_details {
	background: #F3F0DF;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.imagegallink {
	background: url(../graphics/imagegallink.jpg) no-repeat;
	height: 53px;
	width: 240px;
	margin-top: 6px;
	padding-left: 70px;
	padding-top: 10px;
	margin-left: 15px;
}

.imagegallink a {
	display: block;
	font: bold 18px "Trebuchet MS", Verdana, Arial, sans-serif;
	text-transform: uppercase;
	color: #903F00;
	text-decoration: none;
}

.hiddentab a {
	display: inline !important;
	padding-right: 5px;
}

.hiddentab a:hover {
	color: #000 !important;
}

.buttonmenu {
	margin: 5px;
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#65a9d7) );
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	float: right;
}

.buttonmenu:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

.buttonmenu:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

.buttonmenured {
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#DC3232),
		to(#65a9d7) );
	background: -webkit-linear-gradient(top, #DC3232, #830808);
	background: -moz-linear-gradient(top, #DC3232, #830808);
	background: -ms-linear-gradient(top, #DC3232, #830808);
	background: -o-linear-gradient(top, #DC3232, #830808);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 14px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	float: right;
	height: 20px;
	margin: 6px;
	padding: 6px 12px;
}

.buttonmenured:hover {
	border-top-color: #830808;
	background: #830808;
	color: #ccc;
}

.buttonmenured:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

nav ul ul {
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0px;
}

nav ul li ul{
	float: left;
}

nav ul ul li {
	float: left;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	
}

nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
	
}

nav ul ul li a:hover {
	background: #4b545f;
}

nav ul li {
	float: left;
}

nav ul li.annonce {
	float: left;
}

nav ul li.annonce a {
	display: block;
	padding: 15px 20px;
	color: red;
	text-decoration: none;
	border-right: 1px solid #9AB5BE;
}



nav ul li:hover {
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);
}

nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block;
	padding: 15px 20px;
	color: black;
	text-decoration: none;
	border-right: 1px solid #9AB5BE;
}

nav ul {
    background: #efefef;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	background: -webkit-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
	
/* 	background: url("../graphics/categoriesbg.jpg") repeat scroll 0 0 transparent; */
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	/* padding: 0 20px; */
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
	font: bold 16px "Trebuchet MS", Verdana, Arial, sans-serif;
}

nav h2 {
	background: url(../graphics/topcategories_h2.jpg) no-repeat;
	height: 34px;
	width: 110px;
	padding-top: 12px;
	padding-left: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	float: left;
	font: bold 18px "Trebuchet MS", Arial, sans-serif;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul ul {
	display: none;
}

nav ul li:hover>ul {
	display: block;
	
}

nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}

#nav_menu {
	/* width: 750px; */
	float: left;
	padding-bottom: 5px;
}










#header-menu {
    background:  #5f6975;
    border-top: 1px solid #CCCCCC;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font: bold 14px "Trebuchet MS", Arial, sans-serif;
    height: 32px;
    margin: 0 0 50px;
    padding: 7px 15px;
    
    position: relative;
    text-transform: uppercase;
    width: 998px;
}
#header-menu a {
    border: 0 none;
    outline: 0 none;
}
#header-menu .select, #header-menu .current {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#header-menu li {
    display: inline;
    height: auto;
    margin: 0;
    padding: 0;
} 
#header-menu .select a, #header-menu .current a {
    background: 100% 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 38px;
    line-height: 24px;
    margin-top: -6px;
    padding-bottom:0px;
    padding-top:8px;
    padding-left:16px;
    padding-right:16px;
    text-decoration: none;
    white-space: nowrap;
}
* html #header-menu .select a, * html #header-menu .current a {
    height: 24px;
    width: 1px;
}
#header-menu .select a:hover, #header-menu .select li:hover a {
    background-color: #4b545f;
    color: #FFFFFF;
    cursor: pointer;
}
#header-menu .sub {
    display: none;
}
#header-menu table {
    border-collapse: collapse;
    left: 0;
    position: absolute;
    top: 0;
}
#header-menu .current a {
    background-color: #D1E0FA;
    color: #368291;
    
    /* background-color: red; */
    margin-left: -15px;
    margin-top: -7px;
}
#header-menu .sub li a:hover, #header-menu .select a:hover .sub li a:hover, #header-menu .select li:hover .sub li a:hover {
    color: red;
}
#header-menu .sub_active .current_sub a, #header-menu .sub_active a:hover {
    color: red;
}
#header-menu .select li a:hover .sub, #header-menu .select li:hover .sub {
    background: none repeat scroll 0 0 #D1E0FA;
    color: #222222;
    display: block;
    left: 0;
    margin-top: 22px;
    position: absolute;
    top: 24px;
    width: 945px;
    z-index: 100;
    padding-top: 5px;
}
#header-menu .sub, #header-menu .sub_active {
    border-bottom: 1px solid #CCCCCC;
    font-weight: normal;
    list-style: none outside none;
    margin-top: 38px;
    text-transform: none;
    font-weight: bold;
}
#header-menu .sub_active {
    background: none repeat scroll 0 0 #D1E0FA;
    border-top: 1px solid #CCCCCC;
    display: block;
    font-weight: bold;
    left: 0;
    margin-top: 22px;
    padding-top: 5px;
    position: absolute;
    top: 24px;
    width: 1027px;
    z-index: 10;
}
* html #header-menu .sub_active, * html #header-menu .select a:hover .sub {
    margin-top: 0;
    z-index: -1;
}
#header-menu .sub_active a {
    background: none repeat scroll 0 0 #D1E0FA;
    border: 0 none;
    color: #555555;
    display: block;
    float: left;
    height: 38px;
    line-height: 25px;
    margin: 0;
    padding: 0 14px;
    text-decoration: none;
    white-space: nowrap;
}
#header-menu .select a:hover .sub li a, #header-menu .select li:hover .sub li a {
    background: none repeat scroll 0 0 #D1E0FA;
    border: 0 none;
    color: #555555;
    display: block;
    margin: 0;
    padding: 0 15px;
    white-space: nowrap;
}
#header-menu .menu-bouton-pa {
    color: #000000;
    cursor: pointer;
    display: block;
    height: 21px;
    width: 159px;
}
#header-menu .menu-bouton-pa {
    background: url("/images/home/bouton-pa-rose.png") no-repeat scroll 0 0 transparent;
}


.group{
	
	background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #999999;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 3px 3px 10px #DDDDDD;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.group h2{
	
	 background-color: #BBBBBB;
    box-shadow: 1px 1px 15px #999999 inset;
    color: #FFFFFF;
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 0;
    padding: 0.1em 0.3em;
    text-shadow: 0 1px 0 #777777;
}

#maincontainer ul {
    list-style-type: disc;
    vertical-align: middle;
}

#fieldset_select_fields{	
	float: left;
	width: 630px;
}

fieldset fieldset1 {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 1px solid #AAAAAA;
    margin: 0.8em;
}
fieldset {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 0 0;
    box-shadow: 1px 1px 2px #FFFFFF inset;
    margin-top: 1em;
    padding: 1.5em;
    text-shadow: 0 1px 0 #FFFFFF;
}

fieldset legend{
	background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 3px 3px 15px #BBBBBB;
    color: #444444;
    font-weight: bold;
    padding: 5px 10px;
}

input[type="submit"]{
	    background: -moz-linear-gradient(center top , #FFFFFF, #CCCCCC) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    border-radius: 12px 12px 12px 12px;
    color: #111111;
    font-weight: bold;
    margin-left: 14px;
    padding: 3px 7px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
#buttonGo:hover {
    background: -moz-linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent;
}

#sectionlinks a:hover, .buttonlinks a:hover, a.button:hover {
    background: -moz-linear-gradient(center top , #CCCCCC, #DDDDDD) repeat scroll 0 0 transparent;
}
.listing li:HOVER {
    background: none repeat scroll 0 0 #BBBBBB;
    border: 1px solid #EEEEEE;
    display: block;
    margin-bottom: 8px;
    padding: 10px;
}

h1.error, div.error{
    background-position: 5px 50%;
    background-repeat: no-repeat;
    border-color: #333333;
    background-color: #FA5858;
}

#adressediv{
	height: 60px;	
	padding: 5px;
	color: #0099CC;
    /* float: left; */
    font-size: 13px;
    font-weight: bold;	
    margin-top: 5px;
}

#rightcolumndetail{
	padding-top:10px;
	float: right;
    padding-right: 5px;
    width: 350px;
    
}
#rightcolumndetail .decscription{
	text-align: justify;
}

#tabs{
	 padding-bottom: 10px;
    /* padding-left: 23px; */
    padding-top: 15px;
}

.barreoutils{
	
	background-color: #F9F9F9;
    border: 1px solid #CACBCB;
    border-radius: 4px 4px 4px 4px;
    margin: 8px 0;
    padding: 6px;
    position: relative;
}

.barreoutils span{
	 color: #595959;
    padding: 7px 0;
}





.barreoutils {
    background-color: #F9F9F9;
    border: 1px solid #CACBCB;
    border-radius: 4px 4px 4px 4px;
    margin: 8px 0;
    padding: 6px;
    position: relative;
}
.barreoutils span {
    color: #595959;
    padding: 7px 0;
}
.barreoutilspartagez li {
    float: left;
    padding: 5px 6px;
}
.barreoutilsgardez li {
    float: left;
    padding: 2px 6px;
}
.barreoutilspartagez li a {
    background:no-repeat scroll 0 0 transparent;
    display: block;
    height: 20px;
    text-indent: 4000px;
}
#partagezfb a {
    background-position: 0 0;
    width: 68px;
}
#partageztw a {
    background-position: 0 -50px;
    width: 70px;
}
#partagezgp a {
    background-position: 0 -100px;
    width: 32px;
}
#partagezfb a:hover {
    background-position: -100px 0;
}
#partageztw a:hover {
    background-position: -100px -50px;
}
#partagezgp a:hover {
    background-position: -100px -100px;
}
.barreoutilsgardez li a {
    background: no-repeat scroll 0 0 transparent;
    display: block;
    height: 27px;
    line-height: 10px;
}
.barreoutilsgardez li a:hover {
    color: #D33033;
    text-decoration: none;
}
#gardezenvoyez a {
    background-position: 0 -150px;
}
#gardezenvoyez a:hover {
    background-position: -100px -150px;
}
/* #gardezimprimez a {
    background-position: 0 -200px;
} */
#gardezimprimez a:hover {
    background-position: -100px -200px;
}
#gardezfavoris a {
    background-position: 0 -250px;
}
#gardezfavoris a:hover {
    background-position: -100px -250px;
}
.fin {
    clear: both;
}

.im12_detTab{
	
	 border-collapse: collapse;
    margin-bottom: 10px;
    width: 265px;
}
.im12_detTabDetails{
	
	 border-collapse: collapse;
    margin-bottom: 10px;
    width: 330px;
}
.im12_detTab{
	
	  border-collapse: collapse;
}
.auto2010_detTD1First{
	background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CACBCB;
    border-top: 1px solid #CACBCB;
    color: #595959;
    font-size: 12px;
    height: 16px;
    padding-left: 10px;
    width: 128px;
}

.divdetails{
	padding-top: 10px;
}

.divannonceur{
	
}
.main .product-essential .product-shop .visuel{
	
	  border-right: 1px solid #CCCCCC;
    float: left;
    margin: 20px 16px 30px 10px;
    position: relative;
    width: 240px;
}
.userDetails {
	 float: left;
}

#smalltext{
	font-size: 10px;
}